<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vizitkovník</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<div class="seznam">
    <a href="/detail">
        <div class="vizitka" th:each="vizitky">
            <div class="jmeno" th:text="vizitky.cele_jmeno">Dita (Přikrylová) Formánková</div>
            <div class="firma" th:text="vizitky.firma">Czechitas z. s.</div>
            <div class="udaje">
                <div class="adresa" th:text="vizitky.ulice">
                    <div>Václavské náměstí 837/11</div>
                    <div th:text="vizitky.PSC"><span>11000</span> <span th:text="vizitky.obec">Praha 1</span></div>
                </div>
                <div class="kontakty">
                    <div><i class="las la-at" th:text="vizitky.email"></i> <span>dita@czechitas.cs</span></div>
                    <div><i class="las la-phone-alt" th:text="vizitky.telefon"></i> <span>+420 800123456</span></div>
                    <div><i class="las la-globe" th:text="vizitky.web"></i> <span>www.czechitas.cz</span></div>
                </div>
            </div>
        </div>
    </a>

    <a href="/nova">
        <div class="vizitka vizitka--nova">
            <svg width="100" height="100">
                <rect width="20" height="100" x="40" y="0" fill="white" />
                <rect width="100" height="20" x="0" y="40" fill="white" />
            </svg>
        </div>
    </a>
</div>
</body>
</html>
